# MySQL
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=chaiDB
MYSQL_USER=chai
MYSQL_PASSWORD=chai

# PostgreSQL
POSTGRES_DB=chaiDB
POSTGRES_USER=chai
POSTGRES_PASSWORD=chai

# MongoDB
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=example
